@import '../../assets/styles/variables';

.star-icon {
	&-outer-path {
		fill: $grey;
		transition: 100ms fill;
	}

	&-inner-path {
		fill: $plain-white;
	}

	&:hover {
		.star-icon-outer-path {
			fill: $primary-blue-selected-star;
		}
	}

	&.selected {
		.star-icon-outer-path {
			fill: $primary-blue-selected-star;
		}

		.star-icon-inner-path {
			fill: $primary-blue-selected-star;
		}
	}
}
