@import '../../assets/styles/variables';

.star-icon {
	&-outer-path {
		fill: $grey;
	}

	&-inner-path {
		fill: $plain-white;
	}

	&.selected {
		.star-outer-path {
			fill: $primary-blue-selected-star;
		}

		.star-inner-path {
			fill: $primary-blue-selected-star;
		}
	}
}
