@import '../../assets/styles/variables';

.sidebar {
	background-color: rgba($primary-blue, .96);
	border-bottom-left-radius: $default-border-radius;
	border-top-left-radius: $default-border-radius;
	height: 100%;
	width: 150px;

	@supports (backdrop-filter: none) {
		backdrop-filter: blur($default-blur-radius);
		background-color: rgba($primary-blue, .84);
	}
}
