@import '../../assets/styles/variables';

.operating-system-buttons {
	background-color: $primary-blue;
	border-top-left-radius: $default-border-radius;
	display: flex;
	padding: 16px 15px 14px 15px;

	&-button {
		border: none;
		border-radius: 50%;
		height: 10px;
		margin-left: 10px;
		padding: 0;
		transition: 100ms opacity;
		width: 10px;

		&:hover {
			opacity: .6;
		}

		&:first-child {
			margin-left: 0;
		}

		&.close {
			background-color: $primary-red;
		}

		&.minimize {
			background-color: $primary-yellow;
		}

		&.zoom {
			background-color: $primary-green;
		}
	}
}
