@import '../../../../assets/styles/variables';

.sidebar-item {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	justify-content: space-between;
	padding: 17px 15px;
	transition: 100ms background-color;

	&:hover {
		background-color: rgba($primary-blue-selected, .4);
	}

	&.selected {
		background-color: rgba($primary-blue-selected, .96);

		&:hover {
			background-color: rgba($primary-blue-selected, .96);

			@supports (backdrop-filter: none) {
				backdrop-filter: blur($default-blur-radius);
				background-color: rgba($primary-blue-selected, .88);
			}
		}

		@supports (backdrop-filter: none) {
			backdrop-filter: blur($default-blur-radius);
			background-color: rgba($primary-blue-selected, .88);
		}
	}

	&-part {
		&-icon {
			svg {
				height: 16px;
				width: 16px;
			}
		}

		&-text {
			color: $plain-white;
			margin-left: 9px;
		}

		&-total-items {
			color: $dark-grey;
			font-size: 12px;
		}
	}
}
