@import '../../assets/styles/variables';

.content-area {
	flex: 1;
	background-color: $light-grey;
	border-top-right-radius: $default-border-radius;
	border-bottom-right-radius: $default-border-radius;
	padding: 9px 20px 8px 15px;
	overflow-y: scroll;
}
