@import '../../assets/styles/variables';

.issue-item {
	align-items: center;
	background-color: $plain-white;
	border: 1px solid $default-border-color;
	border-radius: $alternate-border-radius;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	padding: 10px 12px 9px 13px;

	&-star-button {
		background-color: transparent;
		border: none;
		height: 16px;
		min-width: 17px;
		padding: 0;
		width: 17px;
	}
}
