$primary-blue: #100F22;
$primary-blue-selected: #282A48;
$primary-red: #FF594F;
$primary-yellow: #FFBB1B;
$primary-green: #00CD45;
$dark-grey: #8A8995;
$grey: #E0E0E0;
$light-grey: #F5F5F5;
$plain-white: #FFFFFF;

$default-border-radius: 12px;
$default-blur-radius: 8px;
